.controlbox {
	margin-top: 30px;
	margin-bottom: 30px;
    margin-right: auto;
    margin-left: auto;
}

.controlbox .led {
	height: 150px;
}

.led-title {
	background: url(lights.png) no-repeat center top;
	color: #FFFFFF;
	font-size: 40px;
	font-weight: 900;
	text-align: center;
}
